doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Praça das Profissões
    link(rel='stylesheet', href='bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='Ionicons/css/ionicons.css')
    link(rel='stylesheet', href='flexslider/flexslider.css')
    link(rel='stylesheet', href='magnific-popup/dist/magnific-popup.css')
    // dar uma olhada
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Raleway:100,300,400')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:100,300,400')
    link(rel='stylesheet', href='stylesheets/main.css')
    link(rel='stylesheet', href='stylesheets/ie_fix.css')
    // ---------------
    script(src='jquery/dist/jquery.js')
    script(src='bootstrap/dist/js/bootstrap.js')
    script(src='modernizr/src/modernizr.js')
    link(href='fullcalendar/dist/fullcalendar.css', rel='stylesheet')
    script(src='moment/min/moment.min.js')
    script(src='fullcalendar/dist/fullcalendar.min.js')
    script(src='fullcalendar/dist/lang-all.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAmROpiEzI6iYgbye_qSkSwZG_sxxzB1WE')
  body
    nav#fixedTopNav.navbar.navbar-fixed-top.main-navigation(itemscope='', role='navigation')
      .container
        .navbar-header
          // Logo
          .navbar-brand
            a(itemprop='url', href='#header')
              span(itemprop='name')
                | Praça das Profissões
          // /Logo
        // /.navbar-header
        // Navigation Links
        #main-nav-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li: a(href='#sobre', itemprop='url')
                span(itemprop='name') Início
        // /Navigation Links
      // /.container
    // /Fixed Top Navigation
    header#header.header-wrapper.home-parallax.home-fade.dark-bg.bg.vcenter
      figure.about-content.center-block
        img#logo.img-responsive.center-block(src='images/logo.png')
    section#contato.section.dark-bg
      .container
        .col-md-6.col-sm-8.col-md-offset-3.col-sm-offset-2
          h5 Envie sua mensagem
          form#contactForm.contact-form(method="post", name="contactform", role="form")

            .form-group
              input#name.form-control(name="name", placeholder="Nome", type="text", required)
            .form-group
              input#email.form-control(name="email", placeholder="Endereço de email", type="email", required)
            .form-group
              textarea#message.form-control(name="massage", placeholder="Escreva sua mensagem", rows="5", required)

            #contactFormResponse

            button.btn.btn-dark.btn-block.contact-submit#cfsubmit(type="submit") Enviar
    // Footer widgets
    section#contato.section.footer-widgets.dark-bg
      .container
        .row
          .col-md-3.col-sm-6
            .content-wrap.widget-text
              h4 Lorem ipsum
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores dolorum eius libero nihil. Fugiat ipsum officia reprehenderit rerum saepe. Assumenda distinctio, voluptatibus. At consectetur cumque enim error laudantium mollitia obcaecati!
          .col-md-3.col-sm-6
            .content-wrap.widget-contact
              h4 Contato
              ul
                li
                  i.ion-home
                  |  Av. Aprígio Veloso, 882
                  br
                  | Campina Grande, PB
                li
                  i.ion-android-call
                  |  Tel: (83) 2101-1869
                li
                  i.ion-android-call
                  |  Fax: (83) 2101-XXXX
                li
                  i.ion-email
                  a(href='mailto:pracadasprofissoes@gmail.com') pracadasprofissoes@gmail.com
          .col-md-6.col-sm-12
            .google-map: #map
    // Footer widgets
    // footer
    footer#footer.footer
      .container
        div
          ul.footer-social-block
            p.copyright.text-xs-center Siga-nos  
            li: a(target='_blank', href='https://twitter.com/praca_')
                i.fa.fa-facebook
            li: a(target='_blank', href='https://www.facebook.com/pracadas/')
                i.fa.fa-twitter
    // #footer
    // js
    script(src='imagesloaded/imagesloaded.pkgd.min.js')
    script(src='isotope/dist/isotope.pkgd.min.js')
    script(src='owlcarousel/owl-carousel/owl.carousel.js')
    script(src='waypoints/lib/jquery.waypoints.min.js')
    script(src='waypoints/lib/shortcuts/inview.min.js')
    script(src='flexslider/jquery.flexslider.js')
    script(src='smoothscroll-for-websites/SmoothScroll.js')
    script(src='magnific-popup/dist/jquery.magnific-popup.js')
    script(type='text/javascript' src='javascripts/simple.js')
    //if lt IE 10
      script.
        $('input, textarea').placeholder();
