#logo {
  width: 50%;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.header-wrapper {
  background: url(images/background.png) no-repeat center center;
  background-size: cover;
  display: table;
  height: calc(100vh - 50px);
  width: 100%;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}

#map {
  height: 270px;
}

.gandalf {
    background: #f0f0f0;
}

/*.navbar-gandalf {
  background-color: #a9a9a9;
}
(function(){var $nav=$('#navbar');function navbarAnimation(){if ($(window).scrollTop() > 0) {$nav.removeClass('navbar-gandalf');return;}$nav.addClass('navbar-gandalf');$('.navbar-nav > li > a').blur();}navbarAnimation();$(window).scroll(function() {navbarAnimation()})})();
*/
.sobre {
    padding-bottom: 40px;
}

section {
  padding-top: 5%;
}

section p {
  text-align: justify;
}

section h2 {
  text-align: center;
}

#programacao {
  padding-right: 7%;
}

#programacao h2 {
  color: black;
  font-size: 16pt;
}

.footer .footer-social-block {
  margin: 0;
  list-style-type: none;
  text-align: center;
}

.footer  li {
  display: inline-block;
  padding-right: 4px;
}

.footer  li a {
  display: block;
  color: #e3e1e1;
  transition: color 0.3s;
}

.footer {
  background-color: #000;
  color: #FDFDFD;
  padding: 32px 0;
}

#footer {
  display: none;
}
